<div class="addressbook-commands">
  <%= link_to_unless_current raw('<span class="glyphicon glyphicon-plus"></span> Add Phone Number'), new_contact_phone_path(@contact), :class => 'btn btn-default' %>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th class="addressbook-type"></th>
      <th>Digits</th>
      <th>Contact</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @phones.each do |phone| %>
        <tr class="contact_type_<%= phone.phone_type %>">
          <td><%= contact_type_icon phone.phone_type %></td>
          <td><%= phone.digits %></td>
          <td><%= link_to phone.full_name, phone.contact if phone.contact %></td>
          <td><%= link_to 'Edit', edit_contact_phone_path(@contact, phone) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div>
  <%= paginate @phones, :theme => 'twitter-bootstrap-3' %>
</div>


