<%= form_for(@address) do |f| %>
    <% if @address.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

          <ul>
            <% @address.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :address_type %>
      <br>
      <%= f.select :address_type, address_types_for_select(@address), {}, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :street %>
      <br>
      <%= f.text_field :street %>
    </div>
    <div class="field">
      <%= f.label :street_2 %>
      <br>
      <%= f.text_field :street_2 %>
    </div>
    <div class="field">
      <%= f.label :city %>
      <br>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :state %>
      <br>
      <%= f.text_field :state %>
    </div>
    <div class="field">
      <%= f.label :zip %>
      <br>
      <%= f.text_field :zip %>
    </div>
    <div class="field">
      <%= f.label :contact_id %>
      <br>
      <%= f.select(:contact_id, contacts_for_select, {include_blank: true}, {class: "form-control"}) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
